<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Travel App</title>
    </head>
    <body>
        <div id="container">
            <div id="header" class="outline"><h1>Header</h1></div>
            <div id="location" class="outline">
                <div id="location-card" class="card outline">
                    <div id="location-pic" class="outline">
                        
                    </div>
                    <div id="location-main" class="outline">
                        <div id="location-text" class="outline text-box">
                            <h1>Text Box</h1>
                        </div>
                        <div id="submit-bttn" class="outline bttn">
                            <h1>Submit Button</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div id="date" class="outline">
                <div id="date-card" class="card outline">
                    <div id="date-pic" class="outline">
                        
                    </div>
                    <div id="date-main" class="outline">
                        <div id="date-text" class="outline text-box">
                            <h1>Text Box</h1>
                        </div>
                        <div id="submit-bttn" class="outline bttn">
                            <h1>Submit Button</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div id="result" class="outline">
                <div id="result-card" class="card outline">
                    <div id="result-pic" class="outline">
                        <h1>Results Pic</h1>
                    </div>
                    <div id="result-main" class="outline">
                        <h1>Results Main</h1>
                    </div>
                </div>
            </div>
            <div id="footer" class="outline"><h2>Footer</h2></div>
        </div>
    </body>
</html>
