<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Travel App</title>
    </head>
    <body>
        <div id="container">
            <div id="header" class="outline"><h2>Header</h2></div>
            <div id="location" class="outline"><h2>Location</h2></div>
            <div id="date" class="outline"><h2>Date</h2></div>
            <div id="result" class="outline"><h2>Result</h2></div>
            <div id="footer" class="outline"><h2>Footer</h2></div>
        </div>
    </body>
</html>
