#container {
    border: 4px green solid;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 200px 2015px 2215px 2215px 80px;
    grid-template-areas:
    "header"
    "location"
    "date"
    "result"
    "footer";

}