@import "./Variables.scss";

#date {
    grid-area: "date";
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

#date-pic {
    grid-area: "pic";
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: $border-radius-px;
    background-image: url(../img/date-pic-img.jpeg);
    background-size: 100% 100%;

}

#date-main {
    grid-area: "main";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: $card-main-gap;
    border-bottom: $border-radius-px;
    padding: $card-text-padding;
}

#date-text {
    label {
        font-family: $main-font;
        font-size: 50px;

    }

    input {
        font-size: 50px;

    }

}