@import "./Variables.scss";

.outline {
    border: 2px red solid;

}

body {
    background-color: peru;

}

.card {
    display: grid;
    grid-template-columns: $card-width-dim;
    grid-template-rows: $card-row-pic-dim $card-row-main-dim;
    grid-template-areas:
    "pic"
    "main";
    border-radius: $border-radius-px;
    background-color: lightgoldenrodyellow;

}

.pic {
    grid-area: "pic";
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top-left-radius: $border-radius-px;
    border-top-right-radius: $border-radius-px;

}

.bttn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    height: 60px;
    width: 50px;
}

.text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: $card-text-width;
    height: $card-text-height;

}



button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 15%;
    width: 100%;
    height: 100%;
    border-radius: 10px;

}


@media (min-width: 484px) {
    $card-width-dim: 400px;
    $card-row-pic-dim: 300px;
    $card-row-main-dim: 400px;
    $card-main-gap: 10px;
    $card-text-height: 100%;
    $card-text-width: 100%;
    $card-text-padding: 20px;

    .card {
        display: grid;
        grid-template-columns: $card-width-dim;
        grid-template-rows: $card-row-pic-dim $card-row-main-dim;
        grid-template-areas:
        "pic"
        "main";
        border-radius: $border-radius-px;
        background-color: lightgoldenrodyellow;
    
    }

}

@media (min-width: 1024px) {
    $card-width-dim: 25vw;
    $card-row-pic-dim: 17vw;
    $card-row-main-dim: 20vw;
    $card-main-gap: 10px;
    $card-text-height: 100%;
    $card-text-width: 100%;
    $card-text-padding: 20px;

    .card {
        display: grid;
        grid-template-columns: $card-width-dim;
        grid-template-rows: $card-row-pic-dim $card-row-main-dim;
        grid-template-areas:
        "pic"
        "main";
        border-radius: $border-radius-px;
        background-color: lightgoldenrodyellow;
    
    }

}


