#header {
    grid-area: "header";
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    background-color: lightgoldenrodyellow;

}

@media (min-width: 1024px) {
    #header {
        font-size: 30px;

    }

}