#header {
    grid-area: head;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: lightgoldenrodyellow;
    border: 1px black solid;
}