@import "./Variables.scss";

#location {
    grid-area: "location";
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

#location-pic {
    grid-area: "pic";
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: $border-radius-px;
    background-image: url(../img/location-pic-img.png);
    background-size: 100% 100%;

}

#location-main {
    grid-area: "main";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: $card-main-gap;
    border-bottom: $border-radius-px;
    padding: $card-text-padding;
}