@import "./Variables.scss";

#location {
    grid-area: "location";
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

#location-pic {
    background: url(../img/location-pic-img.png) no-repeat center;
    background-size: 100% 100%;

}

#location-main {
    grid-area: "main";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: $card-main-gap;
    border-bottom: $border-radius-px;
    padding: $card-text-padding;

}

#location-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#country-dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 15%;
    border-radius: $border-radius-px;

    #country {
        width: 100%;
        height: 100%;

    }

}

#city-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 30%;
    border-radius: $border-radius-px;
    font-family: $main-font;

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;

        label {
            font-family: $main-font;
            display: flex;
            flex-direction: column;
            align-items: center;          
        
        }
    
        input {
            margin: 0 auto;
            width: 90%;
            height: 30%;
        
        }

    }

}

#city-postcode {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 30%;
    border-radius: $border-radius-px;
    font-family: $main-font;

    #postcode {
        width: 90%;
        height: 30%;

    }

    label {
        font-family: $main-font;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

}

#submit-bttn-location {
    width: 40%;

}

@media (min-width: 1024px) {
    

}