@import "./Variables.scss";

#result {
    grid-area: "result";
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

#result-pic {
    background: url(../img/default-result-pic.jpg) no-repeat center;
    background-size: 100% 100%;
    
}

#result-main {
    grid-area: "main";
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: $border-radius-px;
    font-family: $main-font;
    padding: $card-text-padding;
    column-gap: $card-main-gap;

    #weather-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60%;
        height: 100%;
        margin-left: auto;

        #icons {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: 25%;

            #icon1 {
                height: 40px;
                width: 40px;
                background: url("../img/weather-icons/default-icon.png") no-repeat center;
                background-size: 100% 100%;

            }

            #icon2 {
                height: 40px;
                width: 40px;
                background: url("../img/weather-icons/default-icon.png") no-repeat center;
                background-size: 100% 100%;

            }

        }

        #info {
            height: 65%;
            width: 100%;
            font-size: 12px;

        }

    }

    #weather-message {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40%;
        height: 100%;

    }
}