$border-radius-px: 10px;
$card-width-dim: 80vw;
$card-row-pic-dim: 60vw;
$card-row-main-dim: 80vw;
$card-main-gap: 10px;
$card-text-height: 100%;
$card-text-width: 100%;
$card-text-padding: 20px;
$main-font: Arial, Helvetica, sans-serif;

@media (min-width: 1024px) {
    $border-radius-px: 10px;
    $card-width-dim: 80vw;
    $card-row-pic-dim: 60vw;
    $card-row-main-dim: 80vw;
    $card-main-gap: 20px;
    $card-text-height: 80%;
    $card-text-width: 90%;
    $card-text-padding: 20px;

}